.portTop {
  height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://files.techmahindra.com/static/img/ics-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bgknow {
  background-color: rgb(234, 235, 236);
}

.blog {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.mgl{
  margin-left: 15px;
}

.shortServ {
  position: relative;
}

.shortServ::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: " ";
  background-image: linear-gradient(to bottom, rgb(167, 2, 2), rgb(253, 82, 2));
}

.offer {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 54, 54));
  color: rgb(119, 119, 119);
}

.card-title {
  font-family: "Libre Bodoni", serif;
}

.card-body {
  background-color: rgb(19, 18, 18);
  color: rgb(199, 198, 198);
}

.icon:hover {
  color: rgb(218, 38, 38) !important;
}

.motivate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../image/dedicated-win-section.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.textColor {
  color: rgb(233, 234, 235);
}

.mot {
  position: relative;
}

.motCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}

@media (max-width: 399px) {
  .blog{
    font-size: 12px;
  }

  .midTag{
    font-size: calc(20px + 1vh) !important;
    font-weight: 300;
    line-height: 1.2;
}
  }