.portTop {
  height: 300px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.801),
      rgba(0, 0, 0, 0.205)
    ),
    url(../image/registretion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.textshadow {
  color: #f9f9f9;
  text-shadow: 3px 3px #242323;
}

.contact {
  position: relative;
}

.mgl{
  height: 500px;
}

form {
  text-align: center;
  display: block;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  border: 2px solid #242323;
}
label {
  background-color: #f9f9f9;
  height: 35px;
  padding: 15px;
  margin: 5px;
}

input[type="submit"] {
  padding: 1% 7%;
  margin: 15px;
}
