.portTop {
  height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://wallpaperaccess.com/full/2098560.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.animationLeft {
    color: rgb(182, 179, 179);
  animation-name: slide;
  animation-duration: 2s;
  animation-direction: alternate;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.comments{
  padding: 3rem;
}

.backColor{
    background-color: rgb(52, 53, 53);
    padding: 3rem;
}

.offer {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 54, 54));
    color: rgb(119, 119, 119);
  }
  
  .card-title {
    font-family: "Libre Bodoni", serif;
  }
  
  .card-body {
    background-color: rgb(161, 159, 159);
    color: rgb(39, 39, 39);
  }
  
  svg{
    fill: #c0c0c0;
}

  svg :hover{
    fill: #f34747;
    transition: 0.2s;
}
.icon:hover {
    color: rgb(218, 38, 38) !important;
  }

  .reportS{
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url(https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148876598.jpg?w=740&t=st=1681034671~exp=1681035271~hmac=6f9575cc9b08a7b63b9ba5c64ce5ba284ba43cf69bf33d192e3254ce29c16ad8);
  }

  @media (max-width: 599px) and (min-width: 400px) {
    .backColor{
      padding: 1rem;
    }

    .comments{
      padding: 0.75rem;
    }
  }

 

  @media (max-width: 399px) {
    .backColor{
      padding: 0;
    }

    .comments{
      padding: 0;
      font-size: 12px;
    }

    .reportS{
      display: none;
    }
  }