/* header css  */

header {
  padding-block: 1rem;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.scrollNav {
  background-color: var(--color-light);
  transition: 0.5s all ease;
  color: var(--color-dark);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.scrollNav .nav-burger-icon{
  color: var(--color-dark);
}

.head {
  /* padding-inline: var(--padding); */
  color: var(--color-light);
}

.head-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img:first-child{
  display: block;
}

.logo img:last-child{
  display: none;
}

.logo img {
  width: var(--img-lg);
}

.nav-burger-icon {
  display: none;
  /* color: var(--color-light); */
}

.nav-items a {
  padding: 5px var(--margin-sm);
  color: var(--color-light);
  text-decoration: none;
  transition: 0.5s all ease-out;
  border-radius: 10px;
}

.scrollNav a {
  color: var(--color-dark);
}

.nav-items a:hover {
  color: var(--color-light);
  background-color: var(--color-heading-subtag);
  transition: o.5s all ease-in;
}

.login {
  display: none;
}

.login-icon a {
  font-size: var(--font-md);
  color: var(--color-hover);
  text-decoration: none;
}

/* gallary section  */

.gallary {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-color: #000000;
  animation: gallary alternate infinite 20s;
  position: relative;
}

.midTag {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: tagText 10s infinite alternate;
}

.textShadow {
  text-shadow: 4px 4px 2px #2b2b2b;
}

/* about experience */

.row {
  --bs-gutter-x: 0 !important;
}

.background {
  background-image: url(https://as2.ftcdn.net/v2/jpg/03/04/03/59/1000_F_304035981_72CABrjuWwCRLZ8ZqM2rvcsH2kltvbpt.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.animationLeft {
  animation-name: slide;
  animation-duration: 2s;
  animation-direction: alternate;
}

.expDetails{
  font-size: 1.5rem;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 370px) {
  .exp{
    font-size: 20px !important;
  }
  .expDetails{
    font-size: 15px;
  }
}

/* about service  */

.card-body .bi {
  font-size: 65px;
}

.card-body .bi:hover {
  color: rgb(0, 132, 255);
  transition: 0.3s all ease-in;
}

.service:hover {
  box-shadow: 0px 1px 5px 0px;
}

.card-body .skill {
  font-size: 30px;
}

.card-body .skill:hover {
  color: rgb(0, 132, 255);
  transition: 0.3s all ease;
  font-family: "Inconsolata", monospace;
}

@media (max-width: 310px) {
  .card-body .skill{
    font-size: 20px;
  }
}

/* footer css  */

footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--poppins);
}

.footer-content-item {
  display: var(--flex);
  justify-content: space-around;
}

.footer a{
  color: var(--color-light);
  text-decoration: none;
  font-weight: 200;
}

.footer a:hover {
  color: #dda50a;
}

@media (max-width: 1099px) {
  .all-step {
      display: block;
  }

  .service-gif {
      display: none;
  }

  .about-img img {
      width: 50vw;
  }
}

@media (max-width: 960px) {

  .head {
      position: relative;
  }

  .nav-burger-icon {
      font-size: var(--font-md);
      display: block;
      cursor: pointer;
  }

  .nav-items {
      display: none;
      border-radius: 5px;
      background-color: var(--color-light);
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
  }

  .nav-items a{
      display: block;
      color: var(--color-dark);
      text-align: center;
      border-radius: 0;
  }
}

@media (max-width: 500px) {
  :root {
      --font-md: 24px;
      --img-sm: 25%;
      --flex: block;
  }
  .logo img:first-child{
      display: none;
  }

  .logo img{
      width: initial;
  }
  
  .logo img:last-child{
      display: block;
  }
  .card-top {
      flex-direction: column;
      row-gap: 20px;
  }
  .card-item{
      text-align: center;
      width: 100%;
      margin: 1rem 0;
  }
  .achivement-prove{
      text-align: center;
  }
  .industry-line-row {
      padding: 0;
  }
  .industry-details {
      padding: var(--margin-sm);
  }
  .footer-content {
      padding: 3rem;
      line-height: 30px;
  }
  .footer-item{
      padding-block: 1rem;
  }
}