.portTop {
  height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://media.istockphoto.com/id/1148233882/photo/it-technician-running-maintenance-programme-on-laptop-controls-operational-server-rack.jpg?s=612x612&w=0&k=20&c=j-H_BDxqe1guEwwj855gOvkdg76UWfCKVM06ya8_nD0=);
  background-repeat: no-repeat;
  background-size: cover;
}

.icons {
  color: #b90483;
}

.ourWork{
  margin: 3rem;
}

.cardHover:hover {
  box-shadow: 1px 1px 5px 1px;
  transition: 0.5s all ease;
}

.serviceList{
  font-size: 1.25rem;
}

@media (max-width: 420px) {
  .serviceList{
    font-size: 12px;
  }
}

@media (max-width: 399px) {
  .iconContent {
    font-size: 12px;
  }
  .ourWork{
    margin-left: 0;
    margin-right: 0;
  }
}
