/* about css  */

.aboutTop {
  position: relative;
  height: 500px;
}

.img-about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTop-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #3337;
}

.midTag {
  color: var(--color-light);
  text-align: center;
}

.midTag .text-uppercase {
  font-size: var(--font-lg);
  text-shadow: 2px 2px #333;
}

.midTag .text-capitalize {
  font-size: var(--font-sm);
}

.about-mid-blog {
  max-width: 650px;
}

/* identity css  */

.identity {
  padding-block: 3rem;
}

.identity-information {
  display: flex;
  justify-content: space-between;
}

.identity-img,
.identity-content {
  padding: var(--margin-sm);
}

.identity-img img {
  margin: var(--margin-sm);
  border-radius: 10px;
}

.identity-img {
  background-image: url(../image/about-shape.png);
  background-position: cover;
  background-size: 100%;
  display: flex;
}

.identity-content {
  margin-block: auto;
}

.identity-paragraph-1 p {
  font-size: var(--font-sm);
  color: var(--color-hover);
  font-weight: 500;
}

.identity-paragraph-heading {
  font-size: var(--font-lg);
  font-family: var(--lato);
  font-weight: 600;
}

.identity-paragraph-body {
  color: #888;
  font-size: var(--font-sm);
  font-family: var(--poppins);
  line-height: 30px;
}

.identity-paragraph-2 {
  display: flex;
  justify-content: space-between;
}

/* project history css */

.project-history {
  padding: 10vw;
}

.project-history-box {
  background-image: url(../image/counter-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5rem;
  border-radius: 15px;
  color: var(--color-light);
  font-weight: 700;
}

.project-number {
  padding-inline: 5%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item {
  font-family: var(--lato);
}

.project-item h1 {
  font-family: var(--poppins);
  font-weight: 900;
}

/* why choose us */

.choosing-about-content-heading {
  text-align: center;
}

.choosing-about-content-heading h6 {
  color: var(--color-hover);
}

.choosing-about {
  background-image: url(../image/bg3.jpg);
}

/* employee section */

.our-employee {
  position: relative;
  background-color: var(--color-light);
  padding-block: var(--padding);
}

.all-employee {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-emp {
  margin: 10px;
  width: 250px;
  height: 350px;
  background: #000;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card-emp .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-emp .image img {
  width: 100%;
  transition: .5s;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}
.card-emp:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card-emp .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: var(--color-hover);
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card-emp:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card-emp .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card-emp .details .center h1 {
  margin: 0;
  padding: 0;
  color: var( --color-heading-subtag);
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card-emp .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.card-emp .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card-emp .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card-emp .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card-emp .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
  border-radius: 5px;
}
.card-emp .details .center ul li a:hover {
  background: var( --color-heading-subtag);
}

/* partner list */
.overflow-x-scroll {
    overflow-x: scroll;
  white-space: nowrap;
  justify-content: center;
  display: flex;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    display: none;
}

.partner-gov {
    width: 60%;
    display: flex;
    animation: autoscroll_X 20s infinite ease-in-out alternate;
}

.partner-logo {
  height: 100px;
  margin: 20px;
  padding-inline: 2vw;
}



@media (max-width: 980px) {
  .identity-img {
    display: none;
  }

  .emp-card-item {
    display: block;
  }
}

@media (max-width: 767px) {
  .project-number{
    display: block;
  }
}