/* about css  */

.aboutTop {
  position: relative;
  height: 500px;
}

.img-about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTop-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #3337;
}

.midTag {
  color: var(--color-light);
  text-align: center;
}

.midTag .text-uppercase {
  font-size: var(--font-lg);
  text-shadow: 2px 2px #333;
}

.midTag .text-capitalize {
  font-size: var(--font-sm);
}

.about-mid-blog {
  max-width: 650px;
}

/* identity css  */

.identity {
  padding-block: 3rem;
}

.identity-information {
  display: flex;
  justify-content: space-between;
}

.identity-img,
.identity-content {
  padding: var(--margin-sm);
}

.identity-img img {
  margin: var(--margin-sm);
  border-radius: 10px;
}

.identity-img {
  background-image: url(../image/about-shape.png);
  background-position: cover;
  background-size: 100%;
  display: flex;
}

.identity-content {
  margin-block: auto;
}

.identity-paragraph-1 p {
  font-size: var(--font-sm);
  color: var(--color-hover);
  font-weight: 500;
}

.identity-paragraph-heading {
  font-size: var(--font-lg);
  font-family: var(--lato);
  font-weight: 600;
}

.identity-paragraph-body {
  color: #888;
  font-size: var(--font-sm);
  font-family: var(--poppins);
  line-height: 30px;
}

.identity-paragraph-2 {
  display: flex;
  justify-content: space-between;
}

/* project history css */

.project-history {
  padding: 10vw;
}

.project-history-box {
  background-image: url(../image/counter-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5rem;
  border-radius: 15px;
  color: var(--color-light);
  font-weight: 700;
}

.project-number {
  padding-inline: 5%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item {
  font-family: var(--lato);
}

.project-item h1 {
  font-family: var(--poppins);
  font-weight: 900;
}

/* why choose us */

.choosing-about-content-heading {
  text-align: center;
}

.choosing-about-content-heading h6 {
  color: var(--color-hover);
}

.choosing-about {
  background-image: url(../image/bg3.jpg);
}

/* employee section */

.our-employee {
  position: relative;
  background-color: var(--color-light);
  padding-block: var(--padding);
}

.all-employee {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* partner list */
.overflow-x-scroll {
    overflow-x: scroll;
  white-space: nowrap;
  justify-content: center;
  display: flex;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    display: none;
}

.partner-gov {
  width: 60%;
    display: flex;
    animation: autoscroll_X 20s infinite ease-in-out;
}

.partner-logo {
  height: 100px;
  margin: 20px;
}



@media (max-width: 980px) {
  .identity-img {
    display: none;
  }

  .emp-card-item {
    display: block;
  }
}
