@keyframes underline_anime {
    0% {
        width: 20%;
    }

    10% {
        width: 60%;
    }

    40% {
        width: 55%;
    }

    65% {
        width: 100%;
    }

    95% {
        width: 20%;
    }
}

@keyframes scroller {
    0% {
        height: 20%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 20%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}


@keyframes scrollTop {
    0% {
        padding-top: 100vh;
    }

    100% {
        padding: 0;
    }
}

@keyframes leftscroll {
    0% {
        margin-right: 100vh;
    }

    100% {
        margin-right: 0;
    }
}

@keyframes rightscroll {
    0% {
        margin-left: 100vh;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes autoscroll_X {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
}