@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/* top section css  */

.aboutTop {
  position: relative;
  height: 400px;
}

.img-about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTop-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #3337;
}

.midTag {
  color: var(--color-light);
  text-align: center;
}

.midTag .text-uppercase {
  font-size: var(--font-lg);
  text-shadow: 2px 2px #333;
}

.midTag .text-capitalize {
  font-size: var(--font-sm);
}

/* slogan css */

.slogans {
  text-transform: capitalize;
  text-align: center;
  padding-block: var(--padding);
  font-family: "Poppins", sans-serif;
}

.slogans h1 {
  color: #6ecc76;
  font-family: "Dancing Script", cursive;
  font-size: calc(10px + 4vw);
  padding-bottom: 2rem;
}

.slogans p i {
  font-size: calc(5px + 3vw);
  font-weight: 700;
}

.slogans p {
  font-size: 1.1em;
}

.slogans p a {
  color: #6ecc76;
  text-decoration: none;
  text-transform: uppercase;
}

.slogans p a:hover {
  text-decoration: underline;
}

.slogans p a:focus {
  color: #0f00ff;
}

.slogans p a:visited {
  color: #ff0000;
}

/* form section */

.input-row {
  display: flex;
  justify-content: space-evenly;
  padding-block: 2rem;
}

.rows {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.col1,
.col2 {
  width: 50%;
  padding-inline: 5vw;
}

.col,
#country,
#comment {
  width: 100%;
  padding-inline: 5vw;
}

label {
  text-transform: uppercase;
}

label,
input {
  display: block;
  font-family: "Montserrat", sans-serif;
}

input,
#country {
  padding: 10px 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #6ecc76;
}

#comment {
  border: 2px solid #6ecc76;
}

@media (max-width: 685px) {
  .row,
  .rows {
    display: block;
  }

  .col1,
  .col2 {
    width: 100%;
    padding-block: 2rem;
  }
}
